-@ val body: String
-@ val msie: Boolean

html(lang="en")
  head
    link(href={uri("/public/css/base.css")} rel="stylesheet" type="text/css")
    link(href={uri("/public/css/github.css")} rel="stylesheet" type="text/css")
    link(href={uri("/public/css/ticker.css")} rel="stylesheet" type="text/css")
    script(type="text/javascript" src="/public/js/svgweb/svg.js" data-path="/public/js/svgweb")
    script(type="text/javascript" src="/public/js/jquery-1.7.2.min.js")
    script(type="text/javascript" src="/public/js/jquery-ui-1.8.22.custom.min.js")
    - if (!msie)
      script(type="text/javascript" src="/public/js/ticker.js")
    script(type="text/javascript" src="/public/js/pngfix.js")
    script(type="text/javascript" src="/public/js/cufon/cufon-yui.js")
    script(type="text/javascript" src="/public/js/cufon/Comic_Sans_MS_400.font.js")
    - if (msie)
      :javascript
        $(document).ready(function() {
          window.alert('Please use Google Chrome to view this website, IE is only partially supported!');
        });
  body
    #github
      a(href="https://github.com/noblecraft/blah") fork me on GitHub
    .wrapper
      .header
      #me
        .dzhu 
          - if (msie)
            /[if lt IE 9]
              object(data="/public/img/details.svg" type="image/svg+xml")
            /[if gte IE 9]
              object(data="/public/img/details.svg" type="image/svg+xml")
          - else
            object(data="/public/img/details.svg" type="image/svg+xml")
        .picframe
          - if (!msie)
            = include("includes/ticker.jade")
        .paper
          .pin(style="top: 15px; left: 320px")
          .content
            !~~ body
    .post
      .pin(style="left: 220px; top: 20px")
      h1
      p
      .shadow

