
body {
  font-family: Arial,Helvetica,sans-serif;
  color: WHITE;
  text-align: center;
  padding: 0;
  margin: 0;
  background: darkred url("img/corkboard.jpg") 0 0;
  min-height: 1600px;
}

p {
  font-size: 16px !important;
}

a {
    color: darkred;
}

.wrapper {
  min-width: 1210px;
  height: 1131px;
  margin: auto;
  padding: 0;
  background: url("img/blackboard.jpg") repeat-x 0 0;
}

.header {
    height: 28px;
}

#me {
  background: transparent url("img/me.gif") no-repeat 0 0;
  width: 1030px;
  height: 830px;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  color: black;
  padding: 0;
  overflow: visible;
  position: relative;
}

#me .dzhu {
    background-color: transparent;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 590px;
    left: 38px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.99862953, M12=0.05233596, M21=-0.05233596, M22=0.99862953,sizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99862953, M12=0.05233596, M21=-0.05233596, M22=0.99862953,sizingMethod='auto expand');
    -moz-transform:  matrix(0.99862953, -0.05233596, 0.05233596, 0.99862953, 0, 0);
    -webkit-transform:  matrix(0.99862953, -0.05233596, 0.05233596, 0.99862953, 0, 0);
    -o-transform:  matrix(0.99862953, -0.05233596, 0.05233596, 0.99862953, 0, 0);
}

#me .picframe {
    position: absolute;
    top: -22px;
    left: -55px;
    width: 538px;
    height: 629px;
    background: transparent url("img/frame.png") no-repeat 0 0;
}

#me .paper {
  position: absolute;
  top: -30px;
  width: 720px;
  height: 888px;
  background: transparent url("img/paper.png") no-repeat left top;
  left: 380px;
}

#me .content {
    margin: auto;
    width: 68%;
    padding-top: 40px;
    padding-left: 0px;
    text-align: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.99619470, M12=0.08715574, M21=-0.08715574, M22=0.99619470,sizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99619470, M12=0.08715574, M21=-0.08715574, M22=0.99619470,sizingMethod='auto expand');
    -moz-transform:  matrix(0.99619470, -0.08715574, 0.08715574, 0.99619470, 0, 0);
    -webkit-transform:  matrix(0.99619470, -0.08715574, 0.08715574, 0.99619470, 0, 0);
    -o-transform:  matrix(0.99619470, -0.08715574, 0.08715574, 0.99619470, 0, 0);
}

/*#me .content h1 {*/
    /*border-bottom: 1px solid #666;*/
    /*width: 90%;*/
/*}*/

/*#me .content h1 span {*/
    /*position: relative;*/
    /*left: -0.3em;*/
    /*bottom: -0.6em;*/
    /*padding: 1px 0.5em;*/
    /*margin: 0;*/
    /*border-style: solid;*/
    /*border-width: 1px 1px 1px 0.8em;*/
    /*border-color: #E00000;*/
    /*background-color: #ddd;*/
/*}*/

.glance {

}

.glance ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 1em;
}

.clear {
    clear:both;
}

.glance ul li {
    float: left;
    width: 70%;
}

.glance ul li.label {
    width: 25%;
    padding-right: 1em;
    font-weight: bold;
}

.post {
    width: 700px;
    margin: auto;-
    text-align: left;
    background: white;
    position: relative;
    min-height: 900px;
}


.post .shadow {
    background: url(img/post_shadow.png) left bottom no-repeat;
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 2;
}

.pin {
    background: url(img/pin.png) no-repeat 0 0;
    position: absolute;
    width: 30px;
    height: 40px;
    margin: 0;
    padding: 0;
    z-index: 99;
}

