-@ val biancaAge: String
-@ val careerAge: String

h1 About Me | Career
p
  | Too much reading? see
  a(href="glance") At a glance
  |, or Download
  a(href="/public/files/CV.pdf") CV
p
  | I'm a software developer with over
  !~~ careerAge
  | of experience.
  | My career began at
  a(href="www.wotif.com")
    | wotif.com
  | in 2005. For 4 years, I learnt a great deal about how to create great software, through the practice of agile processes, eXtreme Programming, test driven development, continuous integration, and most importantly through the help of many colleagues.

p
  | I left wotif in 2009 to pursue my own business idea (online retail), but that didn't eventuate, and I returned to the workforce in 2010. I joined
  a(href="http://www.dialog.com.au/") Dialog
  | , a software consultancy firm and worked at
  a(href="http://www.flightcentre.com.au/") Flight Centre (Technology, FCT)
  | for over a year.

p
  | I joined wotif again in 2011 for a contracting role, and have been contracting there for nearly 10 months now.

p
  | I have a strong interest in programming languages. Apart from
  b java
  | (7+ years), I am also competent in c, c++, javascript and most recently
  a(href="http://amzn.to/PeXAIL") scala
  |. Front-end development (see
  a(href="makingof") the making of
  | ) is another area I excel at.

p
  | My other interests include
  a(href="http://agilemanifesto.org/") Agile software practices
  |,
  a(href="http://amzn.to/QvRTDe") continuous delivery
  |,
  a(href="https://class.coursera.org/ml") neuro networks
  |, realtime and high performance systems and its applications in finance.

p
  | Having read this much, surely you'll want to find out 
  a(href="life") more 
