-@ val careerAge: String

h1 At a Glance

p
  | Please also have a look at
  a(href="career") the story of my career

.glance
  ul
    li.label
      | David Zhu
      br
      small (Gong Wang Zhu) 
    li
      | E:
      a(href="mailto:zhu1982@gmail.com") zhu1982@gmail.com
      br
      | T:
      a(href="http://twitter.com/dzhu8") @dzhu8
      br
      | G:
      a(href="https://github.com/noblecraft") noblecraft
      br
      | L:
      a(href="http://www.linkedin.com/in/zhu1982") linkedin.com/in/zhu1982 
    br.clear
  ul
    li.label
      | Summary:
    li
      | Software Engineer with over
      b
        !~~ careerAge
      | experience. Specializing in Agile, Test-Driven development of high performant, user friendly applications.
    br.clear
  ul
    li.label
      | Languages / Paradigms:
    li
      b Java 
      | (primary), Scala, Groovy, C, C++, Ruby (basic, enough to write
      a(href="http://cukes.info/") cucumber
      | tests), Javascript, Clojure (started experimenting), OO & Functional Paradigms, SOAP, REST
    br.clear
  ul
    li.label
      | Tools / IDE:
    li
      | SVN, Git, Maven, Intellij (primary), Eclipse, Vi, Emacs, Jenkins (Hudson), Rally, Jira, Confluence
    br.clear
  ul
    li.label
      | Database, Servers:
    li
      | Oracle, Mysql,
      a(href="http://neo4j.org/") Neo4J
      |,
      a(href="http://www.elasticsearch.org/") ElasticSearch
      |, 
      a(href="http://couchdb.apache.org/") Couch DB
      |, H2, Apache, Glassfish, Jetty, IBM Websphere (limited)
    br.clear
  ul
    li.label
      | Frameworks / Libraries:
    li
      | JEE, JMS, Spring, Spring-Security, Grails, Hibernate, Jersey, JAXB, Jackson,
      | ,
      a(href="http://dojotoolkit.org/") Dojo Toolkit,
      | ExtJS, JQuery,
      a(href="https://github.com/unfiltered/unfiltered") Unfiltered
      | , 
      a(href="http://scalate.fusesource.org") Scalate
      |
    br.clear
  ul
    li.label
      | Other
    li
      | Ajax, CSS, HTML, Photoshop, Logo Design, Graphic Design

